
.button{
    padding: 0.85rem 1rem;
}

.button_primary{
    background-color: var(--blue);
    color: var(--white);
}

.button_light {
    background-color: #F4F8FB;
    color: var(--dark);
}

.button_dark {
    background-color: var(--dark);
    color: var(--white);
}

.button_dark_outline{
    border: 1px solid var(--silver);
    color: var(--silver);
}

.button_blue_outline{
    border: 1px solid var(--blue);
    color: var(--blue);
}

.button_primary:hover{
    background-color: var(--dark-blue);
}

.button_dark:hover{
    background-color: var(--silver);
}

.button_dark_outline:hover{
    border: 1px solid var(--silver);
    background-color: rgba(from var(--silver) r g b / 0.1);
    color: var(--silver);
}