
.input{
    padding: 0.85rem 1rem;
    border-radius: 5px;
}

.input__search_main{
    padding: 1rem 1.5rem;
    border-radius: 24px;
}

.input__search_nav{
    padding: 0.65rem 0.75rem;
    min-width: 231px;
    border-radius: 5px;
}

.input_light::placeholder {
    color:var(--dark-silver);
}

.input_dark::placeholder {
    color:var(--medium-gray);
}

.input_light {
    background-color: var(--ice-blue);
    color: var(--dark);
}

.input_dark {
    background-color: var(--anthracite);
    color: var(--white);
}

.label_light {
    color: var(--dark);
}

.label_dark {
    color: var(--white);
}